.controlButtons{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 10vh;

}
.controlButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

.controlButRepeat{
    padding: 3vw;
    color:rgb(188, 188, 25);
}

.controlButClose{
    padding: 3vw;
    color:rgb(152, 41, 41);
}

.controlButStar{
    padding: 3vw;
    color:rgb(220, 171, 11);
}

.controlButFav{
    padding: 3vw;
    color:rgb(131, 23, 91);
}

.controlButFlash{
    padding: 3vw;
    color:rgb(222, 185, 21);
}